<div class="row" ng-hide="game.data.board.data.end">
    <div class="column small-7">
        <span>{{ 'NEW_WORD' | translate}}:</span>
        <input type="text" ng-model="game.data.new_word" />
    </div>
    <div class="column small-5">
        <button class="button success" ng-click="game.addWord();saved=false;">{{ 'ADD' | translate}}</button>
        <button class="button alert" ng-click="game.goBack();saved=false;" ng-disabled="game.data.plays.length === 0">{{ 'UNDO' | translate}}</button>
    </div>
</div>
<div class="board text-no-select">
    <div class="board-row" ng-repeat="row in game.data.board.data.matrix">
        <div ng-repeat="cell in row" ng-click="game.clickCell(cell.name)" class="board-cell cell-{{cell.name}}">
            <span ng-class="{'cell-played': cell.occupied, 'cell-last': cell.fromlastmove}" class="cell-content">{{cell.value}}<sub>{{cell.points}}</sub></span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>