<div>
    <a ng-click="showRevealTiles()" class="button">{{ 'TILES' | translate }}</a>
    <a class="button alert" ng-hide="game.data.board.data.end" ng-click="game.data.board.endGame()">{{ 'END_GAME' | translate }}</a>
    <a class="button success" ng-show="game.data.board.data.end" ng-click="game.data.board.undoEndGame()">{{ 'REOPEN_GAME' | translate }}</a>
</div>
<div class="row points-row">
    <div class="column small-3 points-item" style="text-align: center;" ng-repeat="(id,player) in game.data.score">
        <b ng-class="{'text-red': id==game.data.currentTurn}">{{ player.name }}</b><br />
        {{ player.points }}
    </div>
</div>
<h3>{{ 'PLAYS' | translate }}</h3>
<p ng-repeat="play in game.data.plays">{{play.playerName}}: <span ng-show="play.scrabble">[S]</span>[{{play.position}}] <b>{{play.wordlist}}</b> ({{play.points}} {{ 'POINTS' | translate}})</p>

<div id="letterset" class="reveal-modal" data-reveal>
    <a ng-click="hideRevealTiles()" class="button">{{ 'CLOSE' | translate }}</a><br />
    <table>
        <tr>
            <th ng-repeat="(letter, tile) in game.data.board.data.letterset">{{ letter }}</th>
        </tr>
        <tr>
            <td ng-repeat="(letter, tile) in game.data.board.data.letterset" ng-class="{'zero-tiles': tile.total == 0}">{{ tile.total }}</td>
        </tr>
    </table>
</div>