<div class="row">
    <div ng-show="games_loaded" class="column small-12">
        <h1>{{ 'GAMES' | translate }}</h1>
        <table class="game-list wide">
            <tr>
                <th>{{ 'GAME' | translate }}</th>
                <th>{{ 'PLAYERS' | translate }}</th>
                <th>{{ 'NAMES' | translate }}</th>
                <th>{{ 'LANGUAGE' | translate }}</th>
                <th>{{ 'OPTIONS' | translate }}</th>
            </tr>
            <tr ng-repeat="game in games">
                <td><a href="#/games/{{game._id}}">{{ game.data.misc.name }}</a></td>
                <td>{{ game.data.misc.numplayers }}</td>
                <td>{{ game.data.misc.players.join(', ') }}</td>
                <td><img class="flag flag-{{game.data.misc.flag}}" alt="" /> {{ game.data.misc.language }}</td>
                <td><a class="button alert in-table" ng-click="deleteGame(game._id)"><i class="fa fa-times"></i>&nbsp;{{ 'DELETE' | translate }}</a></td>
            </tr>
        </table>
    </div>
    <div ng-hide="games_loaded" class="center-text panel radius">
        <h1><i class="fa fa-spin fa-spinner"></i> {{ 'LOADING_GAMES' | translate }}</h1>
    </div>
</div>
<div id="game_deleting_modal" class="reveal-modal panel radius" data-reveal>
  <h1><i class="fa fa-spin fa-spinner"></i> {{ 'DELETING' | translate }}</h1>
</div>