<div class="row">
    <div ng-hide="Session.isLoggedIn()" class="column small-8">
        <h2>{{ 'LOGIN' | translate }}</h2>
        <form ng-hide="logging">
            {{ 'USERNAME' | translate }}:
            <input type="text" placeholder="{{ 'USERNAME' | translate }}" ng-model="credentials.username" />
            {{ 'PASSWORD' | translate }}:
            <input type="password" placeholder="{{ 'PASSWORD' | translate }}" ng-model="credentials.password" />
            <button ng-click="doLogin(credentials)">{{ 'LOGIN' | translate}}</button>
        </form>
        <div ng-show="logging">
            Logging in...
        </div>
    </div>
</div>