<div class="row">
    <div class="column small-8">
        <h2>{{ 'REGISTER' | translate }}</h2>
        <div ng-show="register_error" data-alert class="alert-box alert">
            {{ 'ERR_BAD_REGISTER' | translate }}
            <a href="#" class="close">&times;</a>
        </div>
        <form ng-hide="registering">
            {{ 'USERNAME' | translate }}:
            <input type="text" placeholder="{{ 'USERNAME' | translate }}" ng-model="newuser.username" />
            {{ 'PASSWORD' | translate }}:
            <input type="password" placeholder="{{ 'PASSWORD' | translate }}" ng-model="newuser.password" />
            <button ng-click="doRegister(newuser)">{{ 'REGISTER' | translate }}</button>
        </form>
        <div ng-show="registering">
            {{ 'REGISTERING ' | translate }}...
        </div>
    </div>
</div>